.career {
  //overflow: hidden;
  padding-top:  80px;
  padding-bottom: 30px;

  @include lg {
    padding-top:  100px;
    padding-bottom: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include lg {
      gap: 50px;
    }
  }

  &__content {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;

    @include md {
      grid-template-columns: 3fr 1fr;
      grid-template-areas: 
        'title link'
        'description .';
        gap: 11px 0;
    }

    @include lg {
        row-gap: 27px;
    }

    @include xl {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    font-weight: 1000;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    color: $second;

    @include md {
      grid-area: title;
    }

    @include lg {
      font-size: 52px;
    }
  }

  &__description {

    @include md {
      grid-area: description;
    }
  }

  &__link {
    justify-self: start;

    @include md {
      justify-self: end;
      grid-area: link;
    }
  }

  &__slider {
    max-width: 100%;

    @include md {
    //overflow: visible;
    }

  }

  &__slider-list {
  }

  &__slider-item {
    height: unset;
    display: flex;
    align-items: center;

    @include sm { 
      width: 48%;
    }  
    
    @include md {    
      &_odd {
        width: 34.68%;
      }

      &_even {
        width: 25.2%;
      }
    }

    @include xl {    
      &_odd {
        width: 27.2%;
      }

      &_even {
        width: 19.5%;
      }
    }
  }

  &__image-wrapper {
  }

  &__iamge {
    border-radius: 16px;
  }

  &__slider-pagination {
  }
}
