.hero {
  position: relative;
  background-image: url('../img/poster@1x.jpg');
  background-image: image-set(
    url('../img/poster@2x.webp') 2x,
    url('../img/poster@1x.webp') 1x,
    url('../img/poster@2x.jpg') 2x,
    url('../img/poster@1x.jpg') 1x
  );

  background-size: cover;
  background-position: center;

  &__include md {
    background-image: url('../img/poster-xl@1x.jpg');
    background-image: image-set(
      url('../img/poster-xl@2x.webp') 2x,
      url('../img/poster-xl@1x.webp') 1x,
      url('../img/poster-xl@2x.jpg') 2x,
      url('../img/poster-xl@1x.jpg') 1x
    );
  }

  &__include xl {
    background-image: url('../img/poster-xl@2x.jpg');
    background-image: image-set(
      url('../img/poster-xl@4x.webp') 2x,
      url('../img/poster-xl@2x.webp') 1x,
      url('../img/poster-xl@4x.jpg') 2x,
      url('../img/poster-xl@2x.jpg') 1x
    );
  }

  
  &__include xxl {
    background-image: url('../img/poster-xl@4x.jpg');
    background-image: image-set(
      url('../img/poster-xl@4x.webp') 2x,
      url('../img/poster-xl@4x.jpg') 2x
    );
  }

  &__container {
    min-height: 554px;
  }

  &__title {

  }

  &__subtitle {

  }
}